node_modules/

.secrets/
**/*-key*.json
**/*-credentials*.json
airflow/airflow-bigquery-key.json
k8s/gcp-key.json
.secrets/aws_credentials.env
.env
Back/.env

k8s/airflow-secret.yaml
k8s/secrets.env
k8s/*-secret.yaml
k8s/mongodb-secret.yaml
k8s/neo4j-secret.yaml

airflow/dags/__pycache__/
airflow/dags/data/WarConflicts.csv

.vscode/